<router-outlet></router-outlet>

<div *ngIf="isHomeRoute()">
    <div class="row">
        <div class="col-md-6 offset-md-3 ">
            <div class="col-sm-12 text-center">
                <div class="input-group mt-5" style="margin-right: 50px;">
                    <input type="text" class="form-control" #userInput placeholder="city name"
                        (keyup.enter)="getCity(userInput.value)">
                    <div class="input-group-append">
                        <button class="input-group-text btn btn-outline-primary"
                            (click)="getCity(userInput.value)">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngFor="let item of cities; let i = index">
        <div *ngIf="i % 3 == 0" class="row" style="margin-top: 60px; margin-left: 100px;">
            <div class="col ">
              
                    <article class="widget">
                        <div class="weatherIcon"><img src="{{item.iconImg}}">
                             <i class="fa fa-times" (click)="deleteCity(item.name)"></i>
                             </div>
                        <div class="weatherInfo">
                            <div class="temperature"><span>{{item.main.tempC}}&#176;C</span></div>
                            <div class="description">
                                <div class="weatherCondition">{{item.weather[0].description}}</div>
                                <div class="place">{{item.name}}, {{item.sys.country}}</div>
                               
                            </div>
                        </div>
                        <div class="date text-center">{{item.date | date:'mediumDate'}}</div>
                        <a  class="detail text-center" [routerLink]="[item.name]" > Detail  </a>
                    </article>
                    
            
            </div>
            <div class="col">
                <div *ngIf="i + 1 < cities.length">
                    
                        <article class="widget">
                            <div class="weatherIcon"><img src="{{cities[i + 1].iconImg}}">
                                <i class="fa fa-times" (click)="deleteCity(cities[i + 1].name)"></i>
                                </div>
                            <div class="weatherInfo">
                                <div class="temperature"><span>{{cities[i + 1].main.tempC}}&#176;C</span></div>
                                <div class="description">
                                    <div class="weatherCondition">{{cities[i + 1].weather[0].description}}</div>
                                    <div class="place">{{cities[i + 1].name}}, {{cities[i + 1].sys.country}}</div>
                                  
                                </div>
                            </div>
                            <div class="date text-center">{{cities[i + 1].date| date:'mediumDate' }}</div>
                            <a class="detail text-center" [routerLink]="[cities[i + 1].name]" > Detail  </a>
                            
                        </article>
                       
                </div>
            </div>
            <div class="col">
                <div *ngIf="i + 2 < cities.length">
                  
                        <article class="widget">
                            <div class="weatherIcon"><img src="{{cities[i + 2].iconImg}}">
                                <i class="fa fa-times" (click)="deleteCity(cities[i + 2].name)"></i></div>
                            <div class="weatherInfo">
                                <div class="temperature"><span>{{cities[i + 2] .main.tempC}}&#176;C</span></div>
                                <div class="description">
                                    <div class="weatherCondition">{{cities[i + 2] .weather[0].description}}</div>
                                    <div class="place">{{cities[i + 2].name}}, {{cities[i + 2].sys.country}}</div>
                                    
                                </div>
                            </div>
                            <div class="date text-center">{{cities[i + 2].date | date:'mediumDate'}}</div>
                            <a class="detail text-center" [routerLink]="[cities[i + 2].name]" > Detail  </a>
                           
                        </article>
                        
                   
                </div>
            </div>
        </div>
    </div>